body {
   font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
   margin: 0;
   padding: 0;
}

/* Global styles */

.btn {
   padding: 0.5rem 0.5rem;
   min-width: 100px;
   border: 1px solid #fff;
}

.btn:focus {
   outline: none;
}
